body {
  padding: 0;
  margin: 0;
  background: #e0e5ec;
  font-family: "Cute Font", "Monaco", sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  width: 366px;
  height: 660px;
  background: #e0e5ec;
  border-radius: 2em;
  box-sizing: border-box;
  padding: 2em;
  display: flex;
  flex-direction: column;
  .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 0.75em;
      margin-bottom: 2em;
      .list-input {
          border: none;
          outline: none;
          font-size: 2.75em;
          font-weight: bold;
          background: #e0e5ec;
      }
  }
  .album-cover {
      box-sizing: border-box;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      .album-overlay {
          background: #fff;
          width: 248px;
          height: 248px;
          z-index: 2;
          border-radius: 15px;
          position: absolute;
          opacity: 0.35;
          -webkit-clip-path: ellipse(61% 64% at 82% 56%);
          clip-path: ellipse(61% 64% at 82% 56%);
      }
      
      .song-title {
          text-align: left;
          padding-bottom: 0;
          margin-bottom: 0;
          color: darken(#7e8a98, 10%);
      }

      .artist-title {
          text-align: center;
          padding: 1em 0;
          margin: 0;
          font-size: 0.85em;
          color: darken(#7e8a98, 10%);
      }
      .album-cover-img {
          object-fit: cover;
          width: 100%;
          border-radius: 5%;
          max-width:320px;
          max-height:320px;
      }
  }

  .track {
      margin-top: 1em;
      height: 10px;
      div {
          width: 42%;
          height: 100%;
          background: #7e8a98;
          opacity: 0.75;
          border-radius: 15px;
      }
  }

  .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 1em 0;
  }

  .lyrics {
      color: #7e8a98;
      margin-top: 2em;
      text-align: center;
      font-size: 0.75em;
      display: flex;
      flex-direction: column;
  }
}

.neo {
  box-shadow: -5px -5px 15px 0px #ffffff9e, 5px 5px 15px 0px #a3b1c6a8;
  background: #e0e5ec;
  border-radius: 2em;
  border: 0;
}

.btn {
  padding: 15px;
  border-radius: 30px;
  color: #7e8a98;
  outline: none;
  cursor: pointer;
  &.lg {
      font-size: 1em;
  }
  &:active {
      cursor: pointer;
      box-shadow: inset -5px -5px 15px 0px #ffffff9e,
      inset 5px 5px 15px 0px #a3b1c6a8;
  }
}

.song-input label {
  display: inline-block;
  padding: 0em .25em;
  color: #000;
  font-size: 2.5em;
  line-height: normal;
  vertical-align: top;
  background-color: #e0e5ec;
  cursor: pointer;
}

.song-input input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}